<div class="user">
<h2>Viaja tanto como puedas. El dinero se recupera, el tiempo no... </h2>
<h3>¡Bienvenido a Viajes Mi Cacharrito! ¿Listo para emprender tu próxima aventura?
     Te invitamos a reservar tus viajes en nuestros cómodos y seguros buses.
      Ya no tienes que preocuparte por largas filas o llamadas telefónicas, ahora puedes reservar 
      fácilmente a través de nuestra página web. Accede a nuestros servicios digitales y planifica 
      tu viaje en solo unos pocos clics. ¡No esperes más para vivir experiencias inolvidables con 
      Viajes Mi Cacharrito!</h3>
      <div class="container">
        <div class="content">
          <h4>
            Ahora puedes encontrar el viaje que deseas desde la comodidad de tu casa, 
            solo con decirnos el destino y fecha en la que desees viajar. Un metodo
            facil y rápido.
          </h4>
<app-buscar-viaje></app-buscar-viaje>
        </div>
        <div >
          <img class="image" src="/assets/bus1.jpg" >
        </div>
      </div>
      <div class = container>
<h4>En el siguiente botón, los clientes podrán consultar fácilmente sus reservas de viaje en autobús 
  previamente realizadas. Desde esta opción, tendrán la posibilidad de visualizar los detalles de su
   reserva y, si así lo desean, cancelarla de manera conveniente.</h4>
  <app-consultar-reserva></app-consultar-reserva>
      </div>
</div>
