.container {
    display: flex;
  }
  
  .content {
    flex: 1;
    padding: 20px;
  }
  
  .image {
    padding: 20px;
  }
  
  button {
    display: block;
    margin-top: 10px;
  }

.bus{
    width: 30%;
    height: 30%;
  }

  