
<button type="button" class="btn btn-primary btn-lg" (click)="AbrirFomulario()">Buscar destino</button>
<div class="modal" tabindex="-1" id="buscar_viaje">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Buscar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarFormulario()"></button>
        </div>
        <div class="modal-body">
          <p>Seleccione el destino al que desea viajar</p>
        </div>
        <div class="modal-footer">
            <div class = container>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Selecciona el destino al que deseas ir</option>
                    <option value="1">Barranquilla</option>
                    <option value="2">Bogotá</option>
                    <option value="3">Medellin</option>
                    <option value="4">Cali</option>
                    <option value="5">Cucuta</option>
                    <option value="6">Ibague</option>
                  </select>
                <select class = "form-select" aria-label="Default select example">
                  <option selected>Seleccione la fecha</option>
                  <option value = "1">02-03-2024</option>
                </select>
                <app-viajes></app-viajes>
            </div>
        </div>
      </div>
    </div>
  </div>