<div id="logIn">
    <form class="row g-3">
        <div class="col-auto">
          <label for="User" class="visually-hidden">Email</label>
          <input type="text" class="form-control" id="staticEmail2" placeholder="Usuario" >
        </div>
        <div class="col-auto">
          <label for="inputPassword2" class="visually-hidden">Password</label>
          <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Iniciar Sesión</button>
        </div>
      </form>
</div>

<div id="indexAdm">
    <h1>hola paula</h1>
    <app-lista-por-dia></app-lista-por-dia>
    <app-lista-por-bus></app-lista-por-bus>
    <br><br>
    <app-buscar-viaje></app-buscar-viaje>
</div>
