button{
    background-color: #90e0ef;
    border: #90e0ef;
    color:#0077b6;
    font-weight: bold;
    padding: 10px;
}
table th{
    background-color: #90e0ef;
    font-weight: bold;
    color:rgb(0, 0, 0);
    border: 1px solid black;

}