<br>
<button type="button" class="btn btn-primary btn-lg" (click)="AbrirConsulta()">Buscar reservas por bus</button>
<div class="modal" tabindex="-1" id="listaRBus">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Consultar reservas por Automovil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CerrarConsulta()"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label  class="form-label">Numero de matricula</label>
              <input for="inputMatricula" type="text"  class="form-control">
            </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Buscar</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Matricula</th>
                    <th scope="col">Id_reserva</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Opción</th>
                </tr>
            </thead>
        </table>
      </div>
    </div>
