
<button type="button" class="btn btn-primary btn-lg" (click)="abrirLista()">Reservas de hoy</button>
<div class ="lista">
    <div id="ListaRDia">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Fecha reserva</th>
                <th scope="col">Fecha viaje</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Opción</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
</div>